# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [214]:
# Imports
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Dense, PReLU
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [65]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [33]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [35]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [36]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names())

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,x0_T25,x0_T29,...,x6_1-9999,x6_10000-24999,x6_100000-499999,x6_10M-50M,x6_1M-5M,x6_25000-99999,x6_50M+,x6_5M-10M,x7_N,x7_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [37]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(columns=categorical_variables)], axis=1)

# Review the DataFrame
encoded_df

,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,x0_T25,x0_T29,...,x6_100000-499999,x6_10M-50M,x6_1M-5M,x6_25000-99999,x6_50M+,x6_5M-10M,x7_N,x7_Y,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [38]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df.IS_SUCCESSFUL

# Display a sample of y
y.head(5)

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [42]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head(5)

,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,x0_T25,x0_T29,...,x6_10000-24999,x6_100000-499999,x6_10M-50M,x6_1M-5M,x6_25000-99999,x6_50M+,x6_5M-10M,x7_N,x7_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [43]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [44]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Transform the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [96]:
X_train_scaled

array([[-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597],
       [-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597],
       [-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597],
       ...,
       [-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597],
       [-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597],
       [-0.12647487, -0.02571572, -0.04139318, ...,  0.02858365,
        -0.02858365, -0.02994597]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [50]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

117

In [51]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [52]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  32

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

32

In [53]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [54]:
# Create the Sequential model instance
nn = Sequential()

In [55]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [56]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=hidden_nodes_layer1, activation="relu"))

In [57]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, input_dim=hidden_nodes_layer2, activation="sigmoid"))

In [58]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                3776

 dense_1 (Dense)             (None, 8)                 264

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 4,049
Trainable params: 4,049
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [61]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [232]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7386
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7397
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7386
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7389
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7395
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7396
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7397
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7417
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7419
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7416
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7400
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7408
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7403
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7411
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7414
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7406
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7408
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7417
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7405
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7420
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7408
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7414
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7416
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7419
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [63]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 1s 1ms/step - loss: 0.5678 - accuracy: 0.7241
Loss: 0.5677772164344788, Accuracy: 0.7240816354751587

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [66]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [67]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [78]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [79]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 128

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

128

In [80]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 128

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

128

In [81]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 128

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

128

In [82]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [83]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, input_dim=hidden_nodes_layer1_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, input_dim=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, input_dim=hidden_nodes_layer3_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 128)               15104

 dense_8 (Dense)             (None, 128)               16512

 dense_9 (Dense)             (None, 128)               16512

 dense_10 (Dense)            (None, 1)                 129

=================================================================
Total params: 48,257
Trainable params: 48,257
Non-trainable params: 0
_________________________________________________________________

In [84]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [85]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5697 - accuracy: 0.7249
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7329
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7327
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7337
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7363
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7364
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7358
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7367
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7371
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7377
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7397
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7417
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7415
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7417
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7420
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7413
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7425
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7416
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7419
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7415
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7430
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7422
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7426
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7425
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7426
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7424
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7427
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7424
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7428
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7425

### Alternative Model 2

In [87]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [88]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [99]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_input_features

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

117

In [100]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 32

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

32

In [101]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [102]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, input_dim=hidden_nodes_layer1_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, input_dim=hidden_nodes_layer2_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_17 (Dense)            (None, 117)               13806

 dense_18 (Dense)            (None, 32)                3776

 dense_19 (Dense)            (None, 1)                 33

=================================================================
Total params: 17,615
Trainable params: 17,615
Non-trainable params: 0
_________________________________________________________________

In [103]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [104]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7219
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7315
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7335
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7355
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7356
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7355
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7376
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7378
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7373
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7394
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7399
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7408
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7409
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7417
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7426
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7423

### Alternative Model 3

In [184]:
X_train_df = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_df = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [185]:
multicolinear_columns = ['x0_T10', 'x1_CompanySponsored', 'x2_C0', 'x3_CommunityServ', 'x4_Association', 'x5_0', 'x6_0', 'x7_N']
X_train_df = X_train_df.drop(columns=multicolinear_columns)
X_test_df = X_test_df.drop(columns=multicolinear_columns)

In [191]:
# Define the number of input/hidden/output neurons in the model
number_input_features = X_train_df.shape[1]
hidden_nodes_A3 = 64
number_output_neurons_A3 = 1

In [227]:
# Create the Sequential model instance
nn_A3 = Sequential()

# Define input/hidden/output layers in model
nn_A3.add(Dense(units=number_input_features, input_dim=number_input_features))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())
nn_A3.add(Dense(units=hidden_nodes_A3, input_dim=hidden_nodes_A3))
nn_A3.add(PReLU())


# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, input_dim=hidden_nodes_A3, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_98 (Dense)            (None, 109)               11990

 p_re_lu_26 (PReLU)          (None, 109)               109

 dense_99 (Dense)            (None, 64)                7040

 p_re_lu_27 (PReLU)          (None, 64)                64

 dense_100 (Dense)           (None, 64)                4160

 p_re_lu_28 (PReLU)          (None, 64)                64

 dense_101 (Dense)           (None, 64)                4160

 p_re_lu_29 (PReLU)          (None, 64)                64

 dense_102 (Dense)           (None, 64)                4160

 p_re_lu_30 (PReLU)          (None, 64)                64

 dense_103 (Dense)           (None, 64)                4160

 p_re_lu_31 (PReLU)          (None, 64)                64

 dense_104 (Dense)           (None, 64)                4160

 p_re_lu_32 (PReLU)          (None, 64)                64

 dense_105 (Dense)           (None, 1)                 65

=================================================================
Total params: 40,388
Trainable params: 40,388
Non-trainable params: 0
_________________________________________________________________

In [228]:
# Compile the model
nn_A3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['binary_accuracy'])

In [229]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_df, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5738 - binary_accuracy: 0.7210
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5531 - binary_accuracy: 0.7305
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5497 - binary_accuracy: 0.7328
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - binary_accuracy: 0.7352
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5464 - binary_accuracy: 0.7344
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - binary_accuracy: 0.7356
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - binary_accuracy: 0.7347
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - binary_accuracy: 0.7357
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - binary_accuracy: 0.7352
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5432 - binary_accuracy: 0.7355
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - binary_accuracy: 0.7343
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - binary_accuracy: 0.7375
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - binary_accuracy: 0.7370
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5413 - binary_accuracy: 0.7369
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - binary_accuracy: 0.7371
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5401 - binary_accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - binary_accuracy: 0.7370
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - binary_accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - binary_accuracy: 0.7369
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - binary_accuracy: 0.7388
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - binary_accuracy: 0.7380
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - binary_accuracy: 0.7382
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - binary_accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - binary_accuracy: 0.7377
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - binary_accuracy: 0.7388
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - binary_accuracy: 0.7388
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - binary_accuracy: 0.7391
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - binary_accuracy: 0.7392
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - binary_accuracy: 0.7387
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - binary_accuracy: 0.7383
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - binary_accuracy: 0.7389
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - binary_accuracy: 0.7388
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5358 - binary_accuracy: 0.7387
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - binary_accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - binary_accuracy: 0.7387
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - binary_accuracy: 0.7393
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5353 - binary_accuracy: 0.7384
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - binary_accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - binary_accuracy: 0.7391
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - binary_accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - binary_accuracy: 0.7387
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - binary_accuracy: 0.7391
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - binary_accuracy: 0.7393
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - binary_accuracy: 0.7395
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - binary_accuracy: 0.7407
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - binary_accuracy: 0.7392
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - binary_accuracy: 0.7408
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - binary_accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - binary_accuracy: 0.7396
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - binary_accuracy: 0.7399

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [234]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5738 - accuracy: 0.7278
Loss: 0.5738135576248169, Accuracy: 0.7278134226799011

In [235]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 2ms/step - loss: 0.5903 - accuracy: 0.7271
Loss: 0.590308427810669, Accuracy: 0.7271137237548828

In [236]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5656 - accuracy: 0.7280
Loss: 0.5655975937843323, Accuracy: 0.7280466556549072

In [237]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_df, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 [==============================] - 1s 2ms/step - loss: 0.5743 - binary_accuracy: 0.7270
Loss: 0.5742641687393188, Accuracy: 0.7269970774650574

### Step 3: Save each of your alternative models as an HDF5 file.

In [238]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [239]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)

In [240]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A3.h5"

# Export your model to a HDF5 file
nn_A3.save(file_path)

# Download the model to your computer
files.download(file_path)